{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}{{collections.libelle}}
{% endblock %}

{% block body %}
        <div class="container-fluid p-5">
            <div class="row gx-4 gx-lg-5 p-4 m-3 shadow rounded-3" style="background-color :#eaeaea">
            <h5 class="text-center text-secondary pt-4 display-1 fw-bold border-bottom ">{{collections.libelle}}</h5>
                {% for produit in produits %}
                    <div class="px-1 px-lg-2 col-1 col-sm-6 col-md-6 col-xl-1 mx-5 mb-5">
                        <div class="card border-1 mt-5 rounded-3 shadow" style="border-color :#000000">
                            <a href="{{path('produit_en_détail',{'id':produit.id})}}"><img src="{{'minia/' ~ produit.minia}}" class="card-img-top rounded-3"/></a>
                            <div class="card-body rounded-3 p-0" style="background-color:#D6D6D6;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}